
<div >
  <div class="card-body">
    <div class="form-row">
      <div class="form-group">
        <label>Количество строк</label>
        <select [(ngModel)]="countRow" class="form-control" (change)="onRowChanged($event)">
          <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Количество столбцов</label>
        <select [(ngModel)]="countColumn" class="form-control" (change)="onColumnChanged($event)">
          <option [value]="i" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
        </select>
      </div>
    </div>
  </div>

    <table  [formGroup]="form"  class="table">
      <tr *ngFor="let row of getMatrix(firstForm ? firstForm : form).controls">
        <td *ngFor="let col of $any(row).controls">
            <input type="number" [formControl]="col">
         </td>
      </tr>
     </table>

  <div class="form-row">
    <button type="button" (click)="sortMatrix()" class="btn btn-primary">Рассчитать</button>
  </div>

<ng-container *ngFor="let newForm of forms;let i = index">
  <table [formGroup]="newForm"  class="table">
    <tr *ngFor="let row of getMatrixs(i).controls">
      <td *ngFor="let col of $any(row).controls">
        <input type="number" [formControl]="col">
      </td>
    </tr>
  </table>
</ng-container>

</div>
